<div class="shop-item <%= item.gender %> <%= item.color %>">
    <span class="shop-item-title"><%= item.name %></span>
    <img class="shop-item-image" src="/poze/<%= item.photo %>">
    <div class="shop-item-details">
		<span class="shop-item-price">$<%= item.price %></span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
</div>